nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: powderblue;
    color: white;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}