.signIn {
    max-width: 300px;
    margin: auto;
}

.signUpButton {
    background-color: #8BB8E8;
}

.error-color {
    color: red;
    font-weight: bold;
}

.success-color {
    color: mediumseagreen;
    font-weight: bold;
    font-size: 20px;
}