.post-button {
    background-color: #FFD100;
}

.text-box {
    max-width: 500px;
}

.rating-font {
    font-size: 30px;
}

.post-list {
    margin: auto;
}

.posting-text {
    color: white;
    font-size: 30px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}