.login {
    max-width: 300px;
    margin: auto;
}

.loginButton {
    background-color: #FFD100;
}

.login-text {
    color: white;
    font-size: 40px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}