.searchInputs {
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
}

.search input{
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 8px;
    font-size: 15px;
    height: 30px;
    width: 450px;
}

.searchIcon svg {
    height: 30px;
    width: 30px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.dataResult {
    margin-left: 5px;
    margin-top: 5px;
    width: 450px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult .dataItem {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}

a {
    text-decoration: none;
}
  
.search-bar:hover {
    background-color: lightblue;
}

#clearBtn {
    cursor: pointer;
}

